#cobro{
    width: 100vw;
    height: 100vh;
    /*background: linear-gradient(rgba(255, 150, 0, 0.5), rgba(255, 0, 150, 0.5));  Fondo vistoso */
    background-image: url("../imagenes/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    position:absolute;
    left: 0;
    top:0;
    z-index: 2;
}

#reader {
    width: 90%;
    height: 1176;
    margin: auto;
    position: relative;
    border-radius: 5%;
    overflow: hidden;
}


