#minijuego {
	background-color: #3498DB;
	height: 100vh;
	display: none;
	overflow: hidden;
}

#minijuego h2{
	color: white;
	text-align: center;
}

#aviso {
	position: relative;
	width: 100vw;
	margin-left: 100vw;
	height: auto;
	background-color: rgba(255, 255, 255, 0.6);
	color: red;
	font-size: 3.2rem;
	border: 3px solid white;
	text-align: center;
	z-index: 2000;
}

#wave {
	position: relative;
	opacity: 0;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2px;
	height: 1px;
	border: #FFF 7px solid;
	border-radius: 300px / 150px;
}

#wave:after {
  content: "";
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 2px;
	height: 1px;
  border: #FFF 5px solid;
	border-radius: 300px / 150px;
}

#shadow {
	position: relative;
	left: 50%;
	top: 31%;
	transform: translate(-50%, -50%);
	width: 3vh;
	height: 3vw;
	border-radius: 50%;
	background-color: #030C50;
	border: #022F8E 3px solid;
	opacity: 0;
	z-index: 2;
}

#reglas_pesca {
	margin-top: 15vh;
	height: 40vh;
	width: 80vw;
	background-color: rgba(256, 256, 256, 0.9);
	color: black;
	position: relative;
	z-index: 999;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%);
	border-radius: 25px;
	border: 5px solid white;
}

#reglas_pesca p {
	font-size: 1.5rem;
	padding: 2%;
}

#boton_reglas {
	color: black;
	background-color:  #FFC300;
	height: 20%;
	width: 60%;
	margin-left: 20%;
	margin-top: 7.5%;
	border-radius: 25px;
	font-size: 2rem;
}

#cerrar_minijuego {
	color: black;
	background-color: #FFC300;
	border: none;
	border-radius: 25px;
	height: 10vh;
	width: 40vw;
	position:relative;
	top: 30%;
	left: 30%;
	display: none;
	font-size: 2rem;
	z-index: 999999;
}

@keyframes ripple {
    from {
      opacity: 1;
      width: 0px;
      height: 0px;
    }
    to {
      width: 600px;
      height: 300px;
      opacity: 0;
    }
}

@keyframes ripple-2 {
    0% {
      opacity: 1;
      width: 0px;
      height: 0px;
    }
    50% {
      opacity: 0;
    }
  100% {
    width: 200px;
    height: 100px;
    opacity: 0;
  }
}

@keyframes appear_shadow {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.8;
	}
}

@keyframes disappear_shadow {
	0% {
		opacity: 0.8;
	}
	100% {
		opacity: 0;
	}
}

@keyframes appear_aviso {
	from {
		margin-left: 100vw;
	}
	to {
		margin-left: 0vw;
	}
}

@keyframes disappear_aviso {
	from {
		margin-left: 0vw;
	}
	to {
		margin-left: 100vw;
	}
}

/*Decoración*/
#lilypad-1 {
	position: relative;
	left: 5%;
	top: 10%;	
	width: 8vh;
	height: 8vh;
}

#lilypad-1-triangle {
	transform: rotate(-45deg);
	left: 50%;
	top: 50%;
}

#lilypad-1-flower {
	background-color: #FC6C85;
	top: 39%;
	left: 42%;
}

#lilypad-2 {
	position: relative;
	left: 75%;
	top: 68%;
	width: 8vh;
	height: 8vh;
}

#lilypad-2-triangle {
	transform: rotate(135deg);
	left: 5%;
	top: 5%;
}

#lilypad-2-flower {
	background-color: red;
	top: 42%;
	left: 45%;
}

.lilypad_circle {
	position: absolute;
	width: 8vh;
	height: 8vh;
	background-color: #4AA95C;
	border-radius: 50%;
	border: 2px solid #00AB41;
	z-index: 800;
}

.lilypad_triangle {
	position: absolute;
	left: 15%;
	top: 65%;
	width: 8vw;
	height: 8vw;
  	background-image:
    linear-gradient(to bottom right, transparent 50%, #3498DB 0),
    linear-gradient(to top right, #3498DB 50%, transparent 0);
  	background-size: 50% 100%;
  	background-repeat: no-repeat;
  	background-position: left, right;
  	z-index: 950;
}

.lilypad_flower {
	position: absolute;
	width: 1.5vh;
	height: 1.5vh;
	border-radius: 50%;
	border: 2px solid #E75480;
	z-index: 1000;
}

#pez {
	opacity: 0;
	width: 7vh;
	height: 7vh;
}

#pez_ovalo {
	position: absolute;
	width: 3.5vh;
	height: 7vh;
	background-color: #030C50;
	border-radius: 50%;
	z-index: 1222;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -20%);
}

#pez_triangulo {
	position: absolute;
	width: 3vh;
	height: 7vh;
	background-color: #030C50; 
	background-image:
    linear-gradient(to bottom right, #3498DB 50%, transparent 0),
    linear-gradient(to top right, transparent 50%, #3498DB 0);
  	background-size: 50% 100%;
  	background-repeat: no-repeat;
  	background-position: left, right;
  	z-index: 1202;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, 0%);
}

@keyframes appear_pez {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

@keyframes subir_pez_ovalo{
	from {
		top: 50%;
	}
	to {
		top: -10%;
	}

}

@keyframes subir_pez_triangulo {
	from {
		top: 50%;
	}
	to {
		top: -10%;
	}
}
